.container{
    /* background-color:#ffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://media.istockphoto.com/id/869283118/photo/register-online.jpg?s=612x612&w=0&k=20&c=G9FeU0sYw0pJMr3FKVuCqRqgOnqcupdDpbq5sqdqMRc=");
     background-repeat: no-repeat;
     background-size: cover;
}
.container form{
    display: flex;
    flex-direction: column;
    border: 1px solid #44445073;
    gap: 1rem;
    width: 40vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background:#44445073;
    border-radius: 5px;
      
}
.container form input {
    width: 18vw;
    height: 2rem;
    outline: none;
    border: 2px solid #44445073;
    border-radius: 5px;
    color: #1d2129;
}
.container form button{
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #008CBA;
}
.container img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%; 
    position: absolute;
    top: 15%;
    background-color: #008CBA;

}
.para{
    color: green;
    text-transform: capitalize;
}